.container {
  width: 100%;
  height: 50px;
  background-color: #000;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 2000;
  justify-content: space-between;
  padding: 0 100px;
}

.list {
  margin: 0;
}

.item {
  color: #25b60f;
  text-decoration: none;
  font-weight: bold;
}

.item:hover {
  color: #fff;
}
.listItem {
  display: inline;
  margin-right: 30px;
  font-size: 14px;
  text-decoration: none;
}

.socialMediaIcons {
  margin: 0;
  display: flex;
}

.socialMediaIcon {
  display: inline;
  margin-right: 30px;
}

.icon {
  color: #25b60f;
  text-decoration: none;
  font-size: 20px;
}

.icon:hover {
  color: #fff;
}

.hamburger {
  display: none;
}

.menu {
  display: none;
}

.activeLink {
  color: #fff;
}


@media screen and (max-width: 991px) {
  .container {
    padding: 0 20px;
  }

  .list, .socialMediaIcon {
    display: none;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

  .menu {
    position: fixed;
    height: calc(100vh - 50px);
    width: 50vw;
    background-color: #000;
    top: 50px;
    font-weight: bold;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    z-index: 999;
    right: 0;
    transition: all 1s ease;
  }

  
}

/* 
320px - 480px: Mobile Devices
481px - 768px: iPads, Tablets
769px - 1024px: Small Screens, Laptops
1025px - 1200px: Desktops, large screens
1021px and more - Extra large screens, TV
*/