.experience {
  display: flex;
  background-color: #25b60f;
  padding: 40px;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
}

.itemIcon {
  margin: 0 auto;
}

.text {
  color: #000;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .experience {
    display: flex;
    flex-direction: column;
  }

  .item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .text {
    margin-left: 10px;
  }
}
