.container {
  padding: 0 100px;
}

.title {
  font-size: 30px;
  border-bottom: 4px solid #25b60f;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

.subtitle {
  font-size: 50px;
  color: rgb(2, 73, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

.services {
  margin-bottom: 4rem;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.service {
  background-color: whitesmoke;
  padding: 24px;
  position: relative;
}

.media {
  transition: all 1s ease;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cat {
  color: gray;
  letter-spacing: 5px;
  font-weight: 300;
  text-transform: uppercase;
}

.desc {
  margin-top: auto;
  margin-bottom: auto;
  width: 70%;
  text-align: center;
  position: absolute;
  z-index: 999;
  background-color: rgba(189, 183, 183, 0.575);
  border-radius: 10px;
  padding: 20px;
  opacity: 0;
  transition: all 1s ease;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 2px;
  }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service {
    width: 100%;
  }
}
